# 1. Basic Knowledge_Python

## 1.1 Help

**Method 1: Write the name of the function you want to learn about, then place a question mark '?' in front of it.**

In [4]:
print?

**Method 1: Write help (the name of the function you want to learn about)**

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 1.2 How to Print

In [1]:
print( 'fit a model with', 11, 'variables')

fit a model with 11 variables

In [2]:
number=11
print(f'fit a model with {number} variables')

fit a model with 11 variables

In [3]:
# in this method several stirng can be concatenate
number_string='11' 
print('fit a model with '+number_string+ ' variables')

fit a model with 11 variables

## 1.3 Arithmetic Operators

### 1.3.1 The four basic operations in mathematics

- **Addition**

In [11]:
10+2

12

- **subtraction**

In [12]:
10-2

8

- **multiplication**

In [13]:
10*2

20

- **division**

In [14]:
10/2

5.0

### 1.3.2 Some other arithmetic operators

- **Exponentiation**

In [17]:
10**2

100

- **Floor division**

In [18]:
10//2

5

- **Modulus**

In [20]:
10%2

0

## 1.4 Type of variables

### 1.4.1. **Text Type**: String

In [22]:
str1="hello"
print(str1)

hello

In [23]:
str2='welcome'
print(str2)

welcome

### 1.4.2. **Numeric Types**

<ol>
<li> <b>integer<b>

In [30]:
integer_exmp= 10
print(integer_exmp)

10

  2. <b>float<b>

In [29]:
float_exmp=10.2
print(float_exmp)

10.2

  3. <b>complex<b>

In [28]:
complex_exmp= 10+1j
print(complex_exmp)

(10+1j)

### 1.4.3. **Sequence Types**

  1. <b>List<b>

In [34]:
List_exp_1 = ["apple", "banana", "cherry"]
List_exp_1

['apple', 'banana', 'cherry']

In [36]:
List_exp_2=[1,2,3,4]
List_exp_2

[1, 2, 3, 4]

In [45]:
List_exp_3=[1, 3.8, 11.9]
List_exp_3

[1, 3.8, 11.9]

In [46]:
List_exp_1+List_exp_2+List_exp_3

['apple', 'banana', 'cherry', 1, 2, 3, 4, 1, 3.8, 11.9]

  2. <b>Tuple<b>

In [58]:
tuple_exp_1 = ("apple", "banana", "cherry")
tuple_exp_1

('apple', 'banana', 'cherry')

In [59]:
tuple_exp_2 = (1, 112, 'apple')
tuple_exp_2

(1, 112, 'apple')

In [60]:
tuple_exp_1 +tuple_exp_2

('apple', 'banana', 'cherry', 1, 112, 'apple')


- **Diffrence between Tuple and List**:  Tuples cannot be changed while lists can be modified.

In [62]:
List_exp_1[0]='cucumber'
List_exp_1

['cucumber', 'banana', 'cherry']

In [67]:
# tuple_exp_1[0]='cucumber'


# This code gives us an error which shows the elemnts in a tuple cannot be changed
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# ~\AppData\Local\Temp\ipykernel_28108\3146017497.py in <module>
# ----> 1 tuple_exp_1[0]='cucumber'
#       2 tuple_exp_1[0]

# TypeError: 'tuple' object does not support item assignment

  3. <b>Range<b>

In [71]:
range_exp_1=range(6)
range_exp_1

range(0, 6)

### 1.4.4. **Boolean Type**

In [72]:
Boolean_exp_1 = True
Boolean_exp_1

True

In [76]:
# Boolean_exp_2
x=3
y=4
Boolean_exp_2= x>y
Boolean_exp_2

False

### 1.4.5. **Mapping Type** : Dictionary

In [78]:
Dict_exmp_1={"name" : "John", "age" : 36}
Dict_exmp_1

{'name': 'John', 'age': 36}

In [83]:
Dict_exmp_1['age']

36

In [80]:
Dict_exmp_2={"name" : ["John", "Ana"], "age" : [36, 30]}
Dict_exmp_2

{'name': ['John', 'Ana'], 'age': [36, 30]}

In [81]:
Dict_exmp_2['name']

['John', 'Ana']

In [85]:
Dict_exmp_2.get("name")

['John', 'Ana']

In [90]:
Dict_exmp_1.keys()

dict_keys(['name', 'age'])